* {
   box-sizing: border-box;
   border: 2px solid red;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page-text {
   font-size: 18px;
}

body {
   background-color: blanchedalmond;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 30px;
   justify-content: flex-start;
   align-items: center;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
}

header > * {
   margin: 0px;
}

/* MAIN BODY */
main {
   display: flex;
   margin: 30px;
   height: 600px;
   min-width: 700px;
   justify-content: space-between;
   align-items: center;
}

main > #grid-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   min-width: 480px;
   height: 480px;
   border: 4px solid rgb(205, 156, 34);
   background-color: #ffffff;
}

main > #modes-container {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   min-width: 200px;
   height: 480px;
}
