* {
   box-sizing: border-box;
   /* border: 2px solid red; */
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.page-text {
   font-size: 18px;
}

body {
   background-color: blanchedalmond;
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   margin: 30px;
   justify-content: flex-start;
   align-items: center;
}

header {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 10px;
}

header > * {
   margin: 0px;
}

/* MAIN BODY */
main {
   display: flex;
   margin: 30px;
   height: 600px;
   min-width: 700px;
   justify-content: space-between;
   align-items: center;
}

main > #grid-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   max-width: 480px;
   min-height: 480px;
   box-shadow: 5px 5px 5px #a8a8a8;
   background-color: #ffffff;
}

main > #modes-container {
   display: flex;
   flex-direction: column;
   width: 200px;
   height: 480px;
   justify-content: center;
   align-items: center;
   row-gap: 20px;
}

button {
   background-color: rgb(254, 169, 138);
   border: 4px solid #d4a704;
   height: 40px;
   min-width: 150px;
   border-radius: 15px;
}

button:hover {
   transform: scale(1.1);
   box-shadow: 5px 5px 5px #a8a8a8;
}

.buttonPressed {
   background-color: rgb(165, 115, 97);
}

#slider-container {
   display: flex;
   margin: 0px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   row-gap: 10px;
}

input[type="range"] {
   margin: 0;
   width: 180px;
}

input[type="color"] {
   width: 100px;
   height: 40px;
   background-color: blanchedalmond;
   border: none;
}
